.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529 !important;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out, border-color 0.33s ease-in-out, box-shadow 0.33s ease-in-out;
}

.btn-sm {
	font-size: 0.8rem;
	padding: 0.2rem;
}

@media (prefers-reduced-motion: reduce) {
	.btn {
		transition: none
	}
}

.btn:hover {
	color: #212529 !important;
	text-decoration: none;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}


.btn {
	cursor: pointer;
}

.btn-primary {
	color: #ffffff !important;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #ffffff !important;
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn-primary.focus, .btn-primary:focus {
	color: #ffffff !important;
	background-color: #0069d9;
	border-color: #0062cc;
	box-shadow: 0 0 0 .2rem rgba(38, 143, 255, 0.5);
}

.btn-secondary {
	color: #ffffff !important;
	background-color: #6c757d !important;
	border-color: #6c757d !important;
}

.btn-secondary:hover {
	color: #ffffff !important;
	background-color: #5a6268;
	border-color: #545b62;
}

.btn-secondary.focus, .btn-secondary:focus {
	color: #ffffff !important;
	background-color: #5a6268;
	border-color: #545b62;
	box-shadow: 0 0 0 .2rem rgba(130, 138, 145, 0.5);
}

.btn-success {
	color: #ffffff !important;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:hover {
	color: #ffffff !important;
	background-color: #218838;
	border-color: #1e7e34;
}

.btn-success.focus, .btn-success:focus {
	color: #ffffff !important;
	background-color: #218838;
	border-color: #1e7e34;
	box-shadow: 0 0 0 .2rem rgba(72, 180, 97, 0.5);
}

.btn-info {
	color: #ffffff !important;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:hover {
	color: #ffffff !important;
	background-color: #138496;
	border-color: #117a8b;
}

.btn-info.focus, .btn-info:focus {
	color: #ffffff !important;
	background-color: #138496;
	border-color: #117a8b;
	box-shadow: 0 0 0 .2rem rgba(58, 176, 195, 0.5);
}

.btn-warning {
	color: #212529 !important;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:hover {
	color: #212529 !important;
	background-color: #e0a800;
	border-color: #d39e00;
}

.btn-warning.focus, .btn-warning:focus {
	color: #212529 !important;
	background-color: #e0a800;
	border-color: #d39e00;
	box-shadow: 0 0 0 .2rem rgba(222, 170, 12, 0.5);
}

.btn-danger {
	color: #ffffff !important;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	color: #ffffff !important;
	background-color: #c82333;
	border-color: #bd2130;
}

.btn-danger.focus, .btn-danger:focus {
	color: #ffffff !important;
	background-color: #c82333;
	border-color: #bd2130;
	box-shadow: 0 0 0 .2rem rgba(225, 83, 97, 0.5);
}

.btn-light {
	color: #212529 !important;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:hover {
	color: #212529 !important;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-light.focus, .btn-light:focus {
	color: #212529 !important;
	background-color: #e2e6ea;
	border-color: #dae0e5;
	box-shadow: 0 0 0 .2rem rgba(216, 217, 219, 0.5);
}

.btn-dark {
	color: #ffffff !important;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:hover {
	color: #ffffff !important;
	background-color: #23272b;
	border-color: #1d2124;
}

.btn-dark.focus, .btn-dark:focus {
	color: #ffffff !important;
	background-color: #23272b;
	border-color: #1d2124;
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, 0.5);
}

.btn-link {
	font-weight: 400;
	color: #007bff;
	text-decoration: none;
}

.btn-link:hover {
	color: #0056b3 !important;
	text-decoration: underline;
}

.btn-link.focus, .btn-link:focus {
	text-decoration: underline;
}


.btn-group, .btn-group-vertical {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group > .btn {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.btn-group > .btn:hover {
	z-index: 1;
}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus {
	z-index: 1;
}

.btn-group > .btn-group:not(:first-child), .btn-group > .btn:not(:first-child) {
	margin-left: -1px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


.btn-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.btn-upload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);
}

.btn-content {
	display: flex;
	align-items: center;
	gap: 6px;
}