<h1>EIROPAS SAVIENĪBAS SABIEDRISKĀ LICENCE 1.2. redakcija</h1>
<p><small>EUPL © Eiropas Savienība, 2007, 2016</small></p>
<p>Eiropas Savienības sabiedriskā licence (EUPL) attiecas uz darbu (saskaņā ar turpmāk sniegto definīciju), kas izmantojams saskaņā ar šīs licences noteikumiem. Darbu ir atļauts izmantot tikai šajā licencē paredzētajā veidā (ciktāl uz šādu lietojumu attiecas darba autortiesību subjekta tiesības).</p>
<p>Darbs ir izmantojams saskaņā ar šīs licences noteikumiem, ja licenciārs (saskaņā ar turpmāk sniegto definīciju) pēc darba autortiesību zīmes ir pievienojis šādu norādi:</p>
<p><i>Licencēts saskaņā ar EUPL</i></p>
<p>vai jebkādā citā veidā ir izteicis vēlēšanos darbu licencēt saskaņā ar EUPL.</p>
<h2>1. Definīcijas</h2>
<p>Šajā licencē turpmāk minētos terminus lieto šādā nozīmē:</p>
<p>— “licence” ir šī licence,</p>
<p>— “oriģināldarbs” ir darbs vai programmatūra, kuru licenciārs izplata vai dara pieejamu saskaņā ar šo licenci un kurai ir pieejams pirmkods un attiecīgā gadījumā arī izpildkods,</p>
<p>— “atvasināti darbi” ir darbi vai programmatūra, ko licenciāts var radīt, balstoties uz oriģināldarbu vai tā pārveido­ jumiem. Šī licence nenosaka nepieciešamo pārveidojumu apmēru vai to, cik lielā mērā darbam jābūt saistītam ar oriģināldarbu, lai to atzītu par atvasinātu darbu; šis apmērs ir noteikts autortiesību regulējuma tiesību aktos, kas piemērojami 15. pantā minētajā valstī,</p>
<p>— “darbs” ir oriģināldarbs vai no tā atvasināti darbi,</p>
<p>— “pirmkods” ir darbs tādā cilvēkam lasāmā formā, kas ir visparocīgākā, lai cilvēki varētu to pētīt un pārveidot,</p>
<p>— “izpildkods” ir jebkurš kompilēts kods, kas ir paredzēts, lai dators to izpildītu kā programmu,</p>
<p>— “licenciārs” ir fiziska vai juridiska persona, kas darbu izplata vai dara zināmu saskaņā ar licenci,</p>
<p>— “attīstītājs” ir jebkura fiziska vai juridiska persona, kas saskaņā ar licenci izmantojamo darbu pārveido vai citādi iegulda atvasināta darba radīšanā,</p>
<p>— “licenciāts” vai “jūs” ir jebkura fiziska vai juridiska persona, kas atbilstoši licences noteikumiem darbu izmanto,</p>
<p>— “izplatīt” vai “darīt zināmu” ir veikt jebkuru darbību, ar kuru darba kopijas pārdod, dāvina, patapina, iznomā, izplata, dara zināmas, pārraida vai dara pieejamas citādā veidā, tiešsaistē vai bezsaistē, vai dod piekļuvi tā būtiskākajām funkcijām jebkurai fiziskai vai juridiskai personai.</p>
<h2>2. Ar licenci piešķirto tiesību apjoms</h2>
<p>Ar šo licenciārs uz oriģināldarbam piemērojamo autortiesību aizsardzības laika posmu jums piešķir visā pasaulē izmantojamu vienkāršu bezatlīdzības licenci, ko var nodot trešām personām, šādām darbībām:</p>
<p>— izmantot darbu jebkādos apstākļos un bez ierobežojumiem,</p>
<p>— reproducēt darbu,</p>
<p>— pārveidot darbu un radīt atvasinātus darbus, izmantojot darbu,</p>
<p>— darīt zināmu sabiedrībai, tostarp darīt pieejamu vai izlikt apskatei, darbu vai tā kopijas un attiecīgā gadījumā darbu izpildīt publiski,</p>
<p>— izplatīt darbu vai tā kopijas,</p>
<p>— patapināt un iznomāt darbu vai tā kopijas,</p>
<p>— nodot licenci darba vai tā kopiju izmantošanai trešām personām.</p>
<p>Minētās tiesības var īstenot ar jebkuriem informācijas līdzekļiem, nesējiem un formātiem, kas šobrīd zināmi vai kurus nākotnē izgudros, ciktāl to atļauj piemērojamie tiesību akti.</p>
<p>Valstīs, kurās eksistē autora personiskās tiesības, licenciārs atsakās īstenot savas autora personiskās tiesības, ciktāl to atļauj tiesību akti un ciktāl tas ir nepieciešams, lai nodrošinātu efektīvu iepriekš minēto autora mantisko tiesību realizāciju.</p>
<p>Licenciārs bez tiesībām uz atlīdzību un bez izņēmuma tiesībām piešķir licenciātam visu licenciāra patentu lietošanas tiesības, ciktāl tas ir nepieciešams, lai realizētu ar šo licenci piešķirtās tiesības uz darbu.</p>
<h2>3. Pirmkoda pieejamība</h2>
<p>Licenciārs var izplatīt darbu vai nu pirmkoda, vai izpildkoda formā. Ja darbs ir pieejams izpildkoda formā, kopā ar katru licenciāra izplatītu darba kopiju licenciārs papildus sniedz piekļuvi mašīnlasāmai darba pirmkoda kopijai vai aiz darbam pievienotās autortiesību zīmes norāda krātuvi, kurā pirmkods ir brīvi un bez maksas pieejams tik ilgi, kamēr licenciārs darbu turpina izplatīt vai darīt zināmu.</p>
<h2>4. Autortiesību ierobežojumi</h2>
<p>Ar šo licenci netiek ierobežoti licenciāta ieguvumi, kas tam pienākas saskaņā ar jebkādu tādu izņēmumu vai ierobežojumu, kas ierobežo autortiesību subjektu izņēmuma tiesības attiecībā uz darbu, vai kas tam pienākas saskaņā ar šo tiesību izsmelšanu vai saskaņā ar citiem piemērojamiem ierobežojumiem.</p>
<h2>5. Licenciāta pienākumi</h2>
<p>Iepriekš minēto tiesību piešķiršana uzliek licenciātam vairākus ierobežojumus un pienākumus. Minētie pienākumi ir šādi:</p>
<ul>
<li><b>Norādes tiesības</b>: licenciāts nemaina nevienu autortiesību, patenta vai preču zīmes norādi, kā arī nevienu norādi uz šo licenci vai garantijas atrunu. Licenciātam ir jāpievieno šādu norāžu un šīs licences kopija ikvienai darba kopijai, ko tas izplata vai dara pieejamu. Licenciātam ir jānodrošina, ka uz katra atvasināta darba ir skaidri norādīts, ka darbs ir pārveidots, un pārveidošanas datums.</li>
<li><b>Licences saglabāšana</b>: ja licenciāts izplata vai dara zināmas oriģināldarbu vai atvasinātu darbu kopijas, tās izplata vai dara zināmas atbilstoši šīs licences vai tās vēlākas redakcijas noteikumiem, ja vien nav skaidri noteikts, ka oriģināldarbu izplata tikai saskaņā ar šo licences redakciju, piemēram, ar norādi “piemēro tikai EUPL 1.2. redakciju”. Licenciāts (kļūstot par licenciāru) nedrīkst piedāvāt vai uzspiest tādus papildu noteikumus vai nosacījumus attiecībā uz darbu vai atvasināto darbu, kas maina vai ierobežo licences noteikumus.</li>
<li><b>Saderības atruna</b>: ja licenciāts izplata vai dara zināmus atvasinātus darbus vai to kopijas, kas balstītas uz darbu un citu darbu ar saderīgu licenci, tos ir atļauts izplatīt vai darīt zināmus saskaņā ar minētās saderīgās licences noteikumiem. Šīs atrunas izpratnē “saderīga licence” nozīmē licences, kas ir uzskaitītas šīs licences pielikumā. Ja licenciāta pienākumi atbilstoši saderīgajai licencei ir pretrunā pienākumiem, kas izriet no šīs licences, noteicošie ir saderīgās licences noteikumi.</li>
<li><b>Piekļuve pirmkodam</b>: izplatot vai darot zināmas darba kopijas, licenciāts sagādā mašīnlasāmu pirmkoda kopiju vai norāda krātuvi, kurā pirmkods ir brīvi un bez maksas pieejams tik ilgi, kamēr licenciāts darbu turpina izplatīt vai darīt zināmu.</li>
<li><b>Tiesiskā aizsardzība</b>: šī licence nepiešķir atļauju lietot licenciāra tirdzniecības nosaukumus, preču zīmes, pakalpojumu zīmes vai licenciāra nosaukumus, izņemot gadījumus, kad tas ir nepieciešams pamatotam un ierastam lietojumam, kurā raksturo darba izcelsmi un atkārto autortiesību zīmes saturu.</li>
</ul>
<h2>6. Autorības secība</h2>
<p>Sākotnējais licenciārs garantē, ka tam pieder autortiesības uz oriģināldarbu vai tās ir licenciāram piešķirtas ar licenci un ka tam ir tiesības un pilnvaras izdot licenci.</p>
<p>Katrs attīstītājs garantē, ka autortiesības uz tā veiktajiem darba pārveidojumiem tam pieder vai ir piešķirtas ar licenci un ka tam ir tiesības un pilnvaras izdot licenci.</p>
<p>Katru reizi, kad jūs pieņemat licenci, sākotnējais licenciārs un nākamie attīstītāji jums atļauj izmantot viņu ieguldījumu darbā atbilstoši šīs licences noteikumiem.</p>
<h2>7. Garantijas atruna</h2>
<p>Darba izstrāde turpinās, to nepārtraukti uzlabo daudzi attīstītāji. Tas nav pabeigts darbs, tāpēc tam var piemist trūkumi vai nepilnības, kas ir šāda veida izstrādes sastāvdaļa.</p>
<p>Minētā iemesla dēļ ar šo licenci darbam sniedz piekļuvi tādam, “kāds tas ir”, un bez jebkādām garantijām attiecībā uz darbu, tostarp, bet ne tikai, bez garantijām par tā piemērotību pārdošanai, piemērotību noteiktam nolūkam, defektu vai kļūdu neesību, precizitāti, citu intelektuālā īpašuma tiesību nepārkāpšanu, kas nav šīs licences 6. pantā noteiktās autortiesības.</p>
<p>Šī garantijas atruna ir būtiska licences sastāvdaļa un nosacījums, lai piešķirtu jebkādas tiesības uz darbu.</p>
<h2>8. Atbildības atruna</h2>
<p>Izņemot tīšu nodarījumu vai fiziskām personām tieši nodarītus kaitējumus, licenciārs nekādā gadījumā neuzņemas atbildību ne par kādiem tiešiem vai netiešiem, mantiskiem vai morāliem jebkāda veida kaitējumiem, kas izriet no licences vai darba lietošanas, tostarp, bet ne tikai, kaitējumiem, kas saistīti ar nemateriālās vērtības mazināšanos, darbības pārtraukšanu, datora bojājumiem vai darbības traucējumiem, datu zudumu vai jebkādu komerciālu kaitējumu pat tad, ja licenciāram ir darīta zināma šādu kaitējumu iespējamība. Tomēr licenciārs ir atbildīgs saskaņā ar normatīvajiem aktiem par produktatbildību, ciktāl tie attiecas uz darbu.</p>
<h2>9. Papildu vienošanās</h2>
<p>Izplatot darbu, jūs drīkstat noslēgt papildu vienošanos, nosakot pienākumus vai pakalpojumus, kas nav pretrunā šai licencei. Taču, uzņemoties pienākumus, jūs varat rīkoties vienīgi savā vārdā un uz savu atbildību, ne sākotnējā licenciāra vai kāda cita attīstītāja vārdā, un vienīgi tad, ja jūs apņematies atbrīvot visus attīstītājus no atbildības par jebkādām saistībām vai prasībām, kā arī atlīdzināt visus zaudējumus un aizstāvēt attīstītājus, ja pret kādu no tiem tiktu celta prasība jūsu garantiju vai papildu saistību dēļ.</p>
<h2>10. Licences pieņemšana</h2>
<p>Šīs licences noteikumus var pieņemt, noklikšķinot uz ikonas “Piekrītu”, kas atrodas zem loga, kurā parādīts šīs licences teksts, vai apstiprinot piekrišanu citā līdzīgā veidā saskaņā ar piemērojamiem tiesību aktiem. Noklikšķinot uz ikonas, jūs apliecināt skaidru un neatsaucamu šīs licences un visu tās noteikumu un nosacījumu pieņemšanu.</p>
<p>Tāpat jūs neatsaucami pieņemat šo licenci un visus tās noteikumus un nosacījumus, īstenojot jebkuras no tiesībām, kas jums piešķirtas ar šīs licences 2. pantu, piemēram, izmantojot darbu, radot atvasinātu darbu vai izplatot vai darot pieejamu darbu vai tā kopijas.</p>
<h2>11. Sabiedrības informēšana</h2>
<p>Ja jūs darbu izplatāt vai darāt zināmu ar elektroniskiem sakaru līdzekļiem (piemēram, piedāvājot darbu lejupielādēt no attālināta datu avota), informācijas izplatīšanas līdzekļiem vai informācijas nesējiem (piemēram, tīmekļa vietnei), ir jāsniedz sabiedrībai vismaz tā informācija, kas ir noteikta piemērojamos tiesību aktos attiecībā uz licenciāru, licenci un to, kā licenciāts tai var piekļūt, kā to var apstiprināt, uzglabāt un reproducēt.</p>
<h2>12. Licences izbeigšana</h2>
<p>Licence un ar to piešķirtās tiesības izbeidzas automātiski, līdzko licenciāts pārkāpj licences noteikumus.</p>
<p>Šāda izbeigšana neizbeidz licences citām personām, kas ir saņēmušas darbu no licenciāta atbilstoši licencei, ja šīs personas pilnībā turpina rīkoties saskaņā ar licences noteikumiem.</p>
<h2>13. Dažādi</hj2>
<p>Neskarot 9. pantu, licence pilnībā atspoguļo pušu galīgo vienošanos attiecībā uz darbu.</p>
<p>Ja kāds no licences noteikumiem nav spēkā vai nav izpildāms saskaņā ar piemērojamiem tiesību aktiem, tas neietekmē licences spēkā esību vai izpildāmību kopumā. Šādu noteikumu interpretē vai pārveido tā, kā ir nepieciešams, lai to padarītu spēkā esošu un izpildāmu.</p>
<p>Eiropas Komisija var publicēt šīs licences redakcijas citās valodās vai jaunas šīs licences redakcijas, vai atjauninātas pielikuma redakcijas, ciktāl tas ir vajadzīgi un pamatoti, nemazinot ar šo licenci piešķirto tiesību apjomu. Katru jaunu licences redakciju publicē ar atšķirīgu redakcijas numuru.</p>
<p>Eiropas Komisijas apstiprinātas šīs licences redakcijas visās valodās ir vienlīdzīgas. Puses var izvēlēties, kuras valodas redakciju izmantot.</p>
<h2>14. Jurisdikcija</h2>
<p>Neskarot konkrētu starp pusēm noslēgtu vienošanos:</p>
<p>— jebkura tiesvedība, kas šīs licences interpretēšanas rezultātā rodas starp Eiropas Savienības iestādi, struktūru, biroju vai aģentūru kā licenciāru un jebkuru licenciātu, ir Eiropas Savienības Tiesas kompetencē, kā noteikts Līguma par Eiropas Savienības darbību 272. pantā,</p>
<p>— jebkura tiesvedība, kas rodas starp citām pusēm un šīs licences interpretēšanas rezultātā, ir tās valsts kompetentās tiesas ekskluzīvā piekritībā, kur licenciārs pastāvīgi uzturas vai kur ir tā galvenā uzņēmējdarbības vieta.</p>
<h2>15. Piemērojamie tiesību akti</h2>
<p>Neskarot konkrētu starp pusēm noslēgtu vienošanos:</p>
<p>— šai licencei ir piemērojami tās Eiropas Savienības dalībvalsts tiesību akti, kur ir licenciāra mītnesvieta, kur tas pastāvīgi uzturas vai kur ir tā juridiskā adrese,</p>
<p>— ja licenciāra mītnesvieta, pastāvīgā dzīvesvieta vai juridiskā adrese neatrodas Eiropas Savienības dalībvalstī, šai licencei piemēro Beļģijas tiesību aktus.</p>
<h2>Papildinājums</h2>
<p>“Saderīgas licences” saskaņā ar EUPL 5. pantu ir:</p>
<p>— GNU General Public License (GPL) v. 2, v. 3,</p>
<p>— GNU Affero General Public License (AGPL) v. 3,</p>
<p>— Open Software License (OSL) v. 2.1, v. 3.0,</p>
<p>— Eclipse Public License (EPL) v. 1.0,</p>
<p>— CeCILL v. 2.0, v. 2.1,</p>
<p>— Mozilla Public Licence (MPL) v. 2,</p>
<p>— GNU Lesser General Public Licence (LGPL) v. 2.1, v. 3,</p>
<p>— Creative Commons Attribution-ShareAlike v. 3.0 Unported (CC BY-SA 3.0) attiecībā uz darbiem, kas nav programmatūra,</p>
<p>— Eiropas Savienības sabiedriskā licence (EUPL), 1.1., 1.2. redakcija,</p>
<p>— Québec Free and Open-Source Licence – Reciprocity (LiLiQ-R) vai Strong Reciprocity (LiLiQ-R+).</p>
<p>Eiropas Komisija var atjaunināt šo pielikumu, lai iekļautu tajā iepriekš minēto licenču jaunākas redakcijas, nepieņemot jaunu EUPL redakciju, ja ar attiecīgajām licencēm tiek piešķirtas šīs licences 2. pantā noteiktās tiesības un netiek pieļauts, ka pirmkods, uz kuru attiecas licence, nonāk ekskluzīvā piederībā.</p>
<p>Lai šajā pielikumā varētu izdarīt citas izmaiņas vai papildinājumus, ir jāveido jauna EUPL redakcija.</p>
